@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html
{
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: #181818;
    scroll-behavior: smooth;
}

header
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #222222F2;
    box-shadow: 0 0 5px 2px #111;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 1000;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 32px;
}

.ytLogo
{
    width: 100px;
    background: transparent;
    margin-left: 50px;
}

.search
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button
{
    background: #333;
    border: none;
    height: 32px;
    width: 64px;
    padding: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search button img
{
    height: 30px;
}

.search input
{
    height: 32px;
    width: 80%;
    background-color: #181818;
    border: 2px solid #333;
    border-right: none;
    color: white;
    z-index: 10;
    font-family: inherit;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}
.search input:focus
{
    outline: 1px solid white;
}

.menus
{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
    gap: 32px;
}

.menus img
{
    background: transparent;
    cursor: pointer;
    height: 24px;
}

.accIcon
{
    border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
}

main
{
    margin-top: 100px;
    color: white;
}

a
{
    color: #888;
    text-decoration: none;
}

p
{
    color: inherit;
}

button
{
    cursor: pointer;
}

.mainVids
{
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 36px;
    justify-content: center;
    margin-top: -30px;
}

.specialVids
{
    border-top: 5px solid #222;
    border-bottom: 5px solid #222;
    margin-top: 32px;
    margin-bottom: 50px;
    color: inherit;
    
    padding: 32px;
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 36px;
    justify-content: center;
}

h2
{
    width: 100%;
    grid-column: 1 / -1;
    color: inherit;
    display: flex;
    justify-content: space-between;
}

h2 button
{
    background: transparent;
    color: inherit;
    border: none;
    font-size: 20px;
}

.vid
{
    background: #222;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 2px 5px 2px #111;
    position: relative;
    padding-bottom: 85px;
    outline: none;
    transition: transform 250ms ease-in-out;
    cursor: pointer;
}
.vid:hover
{
    transform: scale(115%);
    transition-delay: 250ms;
}

.thumbnail
{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    position: relative;
}

.vidLength
{
    background-color: #111111BB;
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    bottom: 0;
    right: 10px;
    z-index: 100;
    position: absolute;
}

.channel
{
    display: flex;
    align-items: center;
    gap: 16px;
}

.channel img
{
    border-radius: 50%;
}

.vidInfo
{
    position: absolute;
    bottom: 0;
}

.meta
{
    color: #888;
}
